@charset "UTF-8";

html{
    height: 100%;
}

body{
    height: 100%;
    background-image: linear-gradient(180deg, #0A84FF 10%, #efdc09 90%);
    text-align: center;
}
/* div{
  margin-bottom:20px;
} */

/* form {

} */


label{
    color: white;
    font-weight: normal;
}

label, input{
  display:block;
  text-align: center;
}

p {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

p a{
    color: white;
    font-size: 1.4rem;
    text-decoration: underline;
    opacity: 0.8;
    cursor: pointer;
}

p a:hover{
    color: white;
    font-size: 1.4rem;
    text-decoration: underline;
    cursor: pointer;
}

