@charset "UTF-8";

html{
    height: 100%;
}

body{
    /* height: 100%; */
    background-image: linear-gradient(180deg, #0A84FF 10%, #faea05 90%);
    text-align: center;
    font-family: 'adobe clean', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;
    font-weight: bolder;
}

div{
  margin-bottom:20px;
}

.form-area {
    /* background-color: blueviolet; */
}


label{
    color: white;
    font-weight: normal;
}

label, input{
  display:block;
  margin: 10px auto;
}

p {
    color: white;
    font-size: 5.75rem;
    font-weight: bold;
}

.subtitle {
    font-size: 3.5rem;
    font-weight: normal;
}



p a{
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    text-decoration: underline;
    opacity: 0.8;
    cursor: pointer;
}

p a:hover{
    color: white;
    font-size: 1.4rem;
    text-decoration: underline;
    cursor: pointer;
}

