@charset "utf-8";
html{
    width: 100%;
}
body{
    width: 100%;
    height: auto;
}

/* header */
header{
    flex:  0 0 80%;
    margin: 0 20px;
    background-color: #186AC9;
    color: white;
}

.logo {
    display: block;
    width: 120px;
    height: auto;
    margin-left: 20px;
    padding: 0;
}

.login-user {
    float: right;
    font-size: 2.4rem;
    justify-content: center;
}

.hamburger-menu {
    float: right;
    width: 400px;
    height: 400px;
}

/* navigation部分はここから */
.menu-toggle {
    font-size: 18px; /* サイズを変更 */
    background: none; /* 背景を透明にする */
    border: none; /* ボーダーを削除 */
    cursor: pointer; /* カーソルをポインターに */
    transform: scaleX(2); /* 横に2倍引き伸ばす */
    transition: transform 0.3s; /* アニメーションを追加 */
}

.menu-items {
    font-size: 24px;
    display: none; /* 初期状態でメニューは非表示 */
    list-style-type: none; /* リストスタイルをなしに */
    padding: 0; /* パディングをゼロ */
    margin: 0; /* マージンをゼロ */
    z-index: 1;
    background-color: #fff;
    text-align: center;
}

.menu-items a {
    color: #8A8C8E;
}

.menu-items li:hover{
    background-color: #01297E;
}

.menu-items li:hover a {
    text-decoration: none;
    color: white;
}
/* navigation部分はここまで */






/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}

#container{
    flex: 0 0 80%;
    min-height: 60px;
    background-color: white;

}

#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    height: 300px;
}

 section{
  background-color :#ccd8ff;
  padding:50px 0;
}


div{
  width: auto;
  height:100px;
  background-color: none;
  margin:0 auto;
}

.container {
    width: 100%;
}


.btn-type {
    margin-right: 50px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    border-radius: solid 4px none;
    padding: 0;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-type.post {
    background-image: url('/images/post.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-type.edit {
    background-image: url('/images/edit.png');
    background-size: 40px;
}

.btn-type.edit:hover {
    background-image: url('/images/edit_h.png');
    background-size: 40px;
}

.btn-type.trash {
    background-image: url('/images/trash.png'); 
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-type.trash:hover {
    background-image: url('/images/trash-h.png');
}

.modal {
    display: none; /* 初期状態では表示しない */
    position: fixed; /* モーダルを画面の固定位置に配置 */
    z-index: 1000; /* 他の要素より前面に表示 */
    left: 0;
    top: 0;
    width: 100%; /* 画面全体の幅を使う */
    height: 100%; /* 画面全体の高さを使う */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%; /* モーダルの幅 */
    background-color: #fff; /* モーダルの背景色 */
    border-radius: 5px; /* 角を丸くする */
}

.close-button {
    cursor: pointer; /* カーソルをポインタに */
    position: absolute;
    right: 10px; /* 右上に配置 */
    top: 10px;
    font-size: 20px; /* 大きめのフォントサイズ */
}









.btn-type.search {
    background-image: url('/images/search.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}


.user-list {
    /* background-color: bisque; */
    padding-bottom: 50px;
}

.btn.btn-link {
    color: white;
    background-color: #0456CE;
}

.btn.btn-link:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;   
}

.btn.followButton {
    margin-left: 40px;
}